<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.octolink" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true" />

    <application
        android:name=".singleton.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.BarcodeScanner"
            android:label="@string/scan"
            android:noHistory="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.TotalAmount"
            android:label="@string/struk"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Sale"
            android:label="@string/sale"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppThemeNoBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.History"
            android:label="@string/history"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PromoActivity"
            android:label="Store"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CategoryPromo"
            android:label="Merchant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DetailPromo"
            android:label="@string/title_activity_detail_promo"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Register"
            android:label="@string/register"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.DiscountPage"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.StrukDetailHistory"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MerchantActivity"
            android:label="Merchant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CategoryPromo2"
            android:label="Category Promo"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".service.GeofenceTransitionsIntentService" />

        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".activity.Merchant2Activity" >
        </activity>
        <activity android:name=".activity.MerchantDetail" >
        </activity>
        <activity android:name=".activity.History2Activity" >
        </activity>
    </application>

</manifest>
